.btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #008CBA;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 70px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
.btn-next {
    background-color: #ff8ac4;
  }
  
.btn:hover {
    background-color: #fa0f85;
    color: #FFFFFF;
  }

  .subrayado {
    text-decoration: underline;
    text-decoration-color: rgb(255, 164, 225);
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
  }